.mainPage {
  background-image: url(../images/background.png);
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 728px;
}

.title {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 64px;
  line-height: 78px;
  text-align: center;
  color: #FEFEFE;
  margin-top: 0;
  margin-bottom: 40px;
}

.subTitle {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 36px;
  line-height: 52px;
  color: #FEFEFE;
  margin-top: 0;
  margin-bottom: 80px;
}

.search {
  background-color: #FFFFFF;
  border-radius: 30px;
  width: 555px;
  height: 50px;
  display: flex;
  padding-left: 28px;
}

.input {
  border: none;
  outline: none;
  -webkit-appearance: none;
  width: 78%;
  font-family: Montserrat;
  font-size: 18px;
  line-height: 22px;
  color: #CCCCCC;
}

.submit {
  border: none;
  background-color: #4EA7F9;
  border-radius: 0 30px 30px 0%;
  width: 22%;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #FEFEFE;
}