.FilmOutput {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.filmContainer {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 15px 20px 15px 15px;
  display: flex;
  max-width: 555px;
  margin-bottom: 20px;
}

.filmInfo {
  display: flex;
  flex-direction: column;
  padding: 15px 0 8px 20px;
}

.filmInfoHeader {
  display: flex;
  margin-bottom: 12px;
}

.filmDescription {
  margin-bottom: 15px;
}

hr {
  width: 100%;
  margin: 0 0 15px 0;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.05);
  height: 0;
}

.filmInfoTitle {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #FEFEFE;
  margin: 0 75px 0 0;
}

.filmInfoText {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FBFBFB;
  margin: 0;
}

.filmContainerLogo {
  width: 95px;
  height: 141px;
}

.filmInfoContainer {
  max-width: 300px;
}