a {
  text-decoration: none;
}

.filmPageHeader {
  height: 100px;
  background: #111111;
}

.filmPageHeaderContainer {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  height: 100px;
}

.filmPageHeaderLink {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #FEFEFE;
}

.filmPageHeaderSearch {
  background: #1B1919;
  border-radius: 30px;
  padding: 14px 30px;
  display: flex;
  align-items: center;
}

.filmPageHeaderButton {
  margin-right: 18px;
  background: #1B1919;
  border: none;
  cursor: pointer;
}

.filmPageHeaderLogo {
  width: 20px;
  height: 20px;
}

.filmPageHeaderInput {
  width: 320px;
  background: #1B1919;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #5F5F5F;
  border: none;
  outline: none;
}

.filmPageFilmInfo {
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.filmPageMainContainer {
  max-width: 1140px;
  margin: 0 auto;
  
}

.filmPageFilmInfoContainer {
  max-width: 566px;
  padding-top: 120px;
  padding-bottom: 100px;
}

.filmPageRatingContainer {
  display: flex;
  align-items: center;
  margin: 0 0 219px 0;
}

.filmPageTitle {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 64px;
  line-height: 78px;
  color: #FEFEFE;
  margin: 0 0 30px 0;
}

.filmPageFilmInfoDescription {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #FBFBFB;
  margin: 0 0 0 36px;
}

.filmPageWatchLink {
  height: 64px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: #FBFBFB;
  border: 2px solid #FBFBFB;
  box-sizing: border-box;
  border-radius: 40px;
  padding: 19px 68px;
  cursor: pointer;
}

.filmPageFilmInfoAwards {
  margin: 73px 0 0 0;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FBFBFB;
  max-width: 433px;
}

.filmPageAnnotation {
  max-width: 800px;
  padding: 60px 0;
}

.filmPageAnnotationTitle {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 36px;
  line-height: 52px;
  color: #323232;
  margin: 0 0 30px 0;
}

.filmPageAnnotationText {
  font-family: Montserrat;
  font-size: 18px;
  line-height: 28px;
  color: #323232;
  margin: 0;
}

.filmPageSimilarTitle {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 24px;
  line-height: 52px;
  color: #323232;
  margin: 0 0 19px 0;
}

.filmPageSimilarContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.filmPageSimilarFilmContainer {
  background-repeat: no-repeat;
  background-size: cover;
  width: 263px;
  height: 361px;
  border-radius: 8px;
  cursor: pointer;
}

.filmPageSimilarFilmInnerContainer {
  margin: 30px 30px;
}

.filmPageSimilarFilmTitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin: 0 0 8px 0;
}

.filmPageSimilarFilmInfo {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin: 0 0 8px 0;
}

.filmPageSimilarFilmDescription {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  margin: 13px 0 16px 0;
}

.filmPageFooter {
  height: 100px;
  background: #111111;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filmPageFooterLink {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  color: #FEFEFE;
}